@import "../../utils/Variables";
@import "../../utils/Mixins";

.assets {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;

  @include media-breakpoint-down(md){
    justify-content: center;
  }
}

.asset {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: .25rem;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .2px;
  width: 100%;
  max-width: 212px;
}

.tokenIcon {
  height: 28px;
  width: 28px;
  margin-right: 12px;
}

.indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
}

.isAllowed {
  :global(.done-icon) {
    fill: white;
  }
}

.disabled {
  :global(.done-icon) {
    fill: $yet-another-dark-grayish-blue;
  }
}