@import "../../utils/Variables";
@import "../../utils/Mixins";

$base: 4px;
$baseLength: (45 * $base);
$barBackground: $cyan;
$barBorder: $cyan;
$barBackgroundDanger: #AC4648;
$barBorderDanger: #AC4648;
$arrowColor: #AC4648;

.container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid $button-border-disabled;
  border-radius: 4px;
  margin: 1.25rem 0 1rem;
  padding: 2.375rem 0;
  color: #fff;
  font-size: 14px;

  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}

.impactText {
  letter-spacing: 1px;
  text-align: center;
  color: $grey-lighter;
  margin: 16px 0;
}

.continueText {
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;

  margin: 0;
}

.graph {
  width: $baseLength;

  margin-bottom: (8 * $base);
}

.bar {
  background: $barBackground;
  border: 1px solid $barBorder;
  border-radius: 1px;

  height: (5 * $base);
  margin-top: (2.5 * $base);
}

.bar-1 {
  margin-top: 0;
  width: ($baseLength / 3);
}

.bar-2 {
  width: ($baseLength / 2);
}

.bar-3 {
  width: ($baseLength * 3 / 4);
}

.bar-4 {
  width: $baseLength;
}

.bar.danger {
  background: $barBackgroundDanger;
  border: 1px solid $barBorderDanger;
}

.arrow-placeholder {
  display: inline-block;
  width: ($baseLength / 4);
  height: (20 * $base);
}

.arrow {
  position: relative;
  display: block;
  top: 0;

  width: 4px;
  height: (18.5 * $base);
  background-color: $arrowColor;

  margin: auto;
}

.arrow:after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  bottom: -6px;
  right: -4px;
  border-top: 6px solid $arrowColor;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}


