@import "../utils/Mixins";
@import "../utils/Variables";
@import "../utils/forms/Buttons";

$header-media-breakpoint: 800px;

:global(.paper) {
  @include media-breakpoint-down($header-media-breakpoint) {
    height: 20px !important;
    width: 20px !important;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1.75rem 0;

  .logo {
    width: 132px;
    max-height: 37px;
    margin: auto 1.5em auto auto;

    svg:hover :global(#bg) {
      fill-opacity: 0.35;
    }
  }
}

.section {
  display: inline-flex;

  &Navigation {
    margin-right: auto;

    @include media-breakpoint-down($header-media-breakpoint) {
      order: 3;
      width: 100%;
    }
  }

  &Status {
    align-items: center;
    @include media-breakpoint-down($header-media-breakpoint) {
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }
}

.nav, .list, .item {
  @include media-breakpoint-down($header-media-breakpoint) {
    width: 100%;
  }
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0;

  @include media-breakpoint-down($header-media-breakpoint) {
    margin-top: 24px;
  }

  .item + .item {
    margin-left: -1px;

    &:hover {

    }
    .navLink {
      border-left-color: transparent;
    }
  }

  // left and right item border radius
  .item:first-child, .item:first-child > * {
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .item:last-child, .item:last-child > * {
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .item:last-child {
    margin-right: 0;
  }
}

.navElement {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  border: 1px solid rgba($white, 0.1);
  color: $white;
  border-radius: 0;
}

.navLink {
  @extend .navElement;
  border-color: $darker-greyish-blue;
  text-decoration: none;
  width: 108px;
  color: $grey-lightest;

  &:hover {
    background-clip: padding-box;
    background-color: rgba($white, 0.1);
    cursor: pointer;
  }

  @include media-breakpoint-down($header-media-breakpoint) {
    width: 100%;
  }
}

.activeNavLink {
  &,
  &:hover {
    z-index: 2;
    color: white;
    border: 1px solid $lighter-dark-gray-blue !important;
    background: initial;
  }
}

.account {
  width: 196px;
  border-radius: $border-radius;
  margin-right: 0px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  @include media-breakpoint-down($header-media-breakpoint) {
    width: 32px;
    height: 32px;
  }

  & span, & .arrowDown {
    @include media-breakpoint-down($header-media-breakpoint) {
      display: none
    }
  }
}

.accountLoader {
  display: flex;
}

.login {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  @include media-breakpoint-down($header-media-breakpoint) {
    padding: 0;
  }
}

.connectWalletButton {
  width: 196px;
  height: 38px;
  font-size: 16px !important;
  text-transform: capitalize;
  letter-spacing: 0.8px;

  border-radius: 4px;

  @include button((
    color: #263238,
    bg: $white,
    border-color: $white,
    color-hover: #263238,
    border-color-hover: $whitish,
    bg-hover: $whitish
  ));

  @include media-breakpoint-down($header-media-breakpoint) {
    width: 32px;
    height: 32px;
  }
}

:global(.Popover.noWallet) {
  z-index: 20;
  padding-top: 8px;
  & :global(.Popover-tip) {
    display: none;
  }
}

.networkIndicator {
  width: 12px;
  height: 12px;
  margin-right: 1rem;
  border-radius: 100%;
}

.networkIndicator.kovan {
  background-color: $light-violet;
  border: 1px solid $light-violet;;
}

.networkIndicator.main {
  background-color: $lime-green;
  border: 1px solid $lime-green;
}

.arrowDown {
  width: 12px;
  height: 7px;
  margin-left: .875rem;
  display: inherit;

  &.dark svg path {
    fill: #263238;
  }

  &.light svg path {
    fill: #FFFFFF;
  }
}

.walletConnection {
  display: inline-flex;
  align-items: center;
}
