@import "../utils/Mixins";
@import "../utils/Variables";

@include media-breakpoint-down(sm) {
  header {
    flex-wrap: wrap;

    & nav,
    nav ul,
    nav ul li {
      width: 100%;
    }

    & nav ul {
      margin-top: 24px;
    }

    & .navLink {
      width: 100%;
    }

    & .networkIndicator {
      max-width: 68px;
      font-size: 14px;
      height: 32px;
    }
  }

  .sectionNavigation {
    order: 3;
    width: 100%;
  }

  .sectionStatus {
    flex: 1 1 auto;
    justify-content: flex-end;

    & .account {
      width: 32px;
      height: 32px;

      & :global(.paper) {
        height: 20px !important;
        width: 20px !important;
      }

      & span {
        display: none;
      }
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 0.75em;

  .logo {
    width: 132px;
    max-height: 37px;
    margin: auto 1.5em auto auto;

    &:hover {
      :global {
        #bg {
          fill-opacity: 0.35;
        }
      }
    }
  }
}

.section {
  display: inline-flex;

  &Navigation {
    margin-right: auto;
  }
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;

    li + li {
        margin-left: -1px;
    }

    // left and right item border radius
    li:first-child > * {
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
    }

    li:last-child > * {
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    li:last-child {
      margin-right: 0;
    }
}

.navElement {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 40px;

    border: 1px solid rgba($white, 0.1);
    color: $white;
    border-radius: 0;
}

.navLink {
    @extend .navElement;
    text-decoration: none;
    width: 108px;
    color: $grey-lightest;
    &:hover {
        background-color: rgba($white, 0.1);
        cursor: pointer;
    }
}

.activeNavLink {
    &,
    &:hover {
        color: white;
        border-color: $grey-lightest;
        background: initial;
    }
}

.account {
  width: 196px;
  border-radius: $border-radius;
  margin-right: 12px;
}

.networkIndicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 79px;
  height: 40px;

  background: transparent;
  border-radius: $border-radius;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.4px;

  text-transform: capitalize;
}

.networkIndicator.kovan {
  color: $moderate-violet;
  border: 1px solid $moderate-violet;
}

.networkIndicator.main{
  color: $soft-cyan;
  border: 1px solid $soft-cyan;
}
