@import "../utils/Mixins";
@import "../utils/Variables";

$header-media-breakpoint: 800px;

:global(.paper) {
  @include media-breakpoint-down($header-media-breakpoint) {
    height: 20px !important;
    width: 20px !important;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 0.75em;

  .logo {
    width: 132px;
    max-height: 37px;
    margin: auto 1.5em auto auto;

    svg:hover :global(#bg) {
      fill-opacity: 0.35;
    }
  }
}

.section {
  display: inline-flex;

  &Navigation {
    margin-right: auto;

    @include media-breakpoint-down($header-media-breakpoint) {
      order: 3;
      width: 100%;
    }
  }

  &Status {
    align-items: center;
    @include media-breakpoint-down($header-media-breakpoint) {
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }
}

.nav, .list, .item {
  @include media-breakpoint-down($header-media-breakpoint) {
    width: 100%;
  }
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0;

  @include media-breakpoint-down($header-media-breakpoint) {
    margin-top: 24px;
  }

  .item + .item {
    margin-left: -1px;

    .navLink {
      border-left-color: transparent;
    }
  }

  // left and right item border radius
  .item:first-child, .item:first-child > * {
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .item:last-child, .item:last-child > * {
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .item:last-child {
    margin-right: 0;
  }
}

.navElement {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  border: 1px solid rgba($white, 0.1);
  color: $white;
  border-radius: 0;
}

.navLink {
  @extend .navElement;
  text-decoration: none;
  width: 108px;
  color: $grey-lightest;

  &:hover {
    background-color: rgba($white, 0.1);
    cursor: pointer;
  }

  @include media-breakpoint-down($header-media-breakpoint) {
    width: 100%;
  }
}

.activeNavLink {
  &,
  &:hover {
    color: white;
    border: 1px solid $grey-lightest !important;
    background: initial;
  }
}

.account {
  width: 196px;
  border-radius: $border-radius;
  margin-right: 0px;

  @include media-breakpoint-down($header-media-breakpoint) {
    width: 32px;
    height: 32px;
  }

  & span {
    @include media-breakpoint-down($header-media-breakpoint) {
      display: none
    }
  }
}

.accountLoader {
  display: flex;
}

.login {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  @include media-breakpoint-down($header-media-breakpoint) {
    padding: 0;
  }
}

.connectWallet {
  text-transform: none;
  font-size: 16px;
}

:global(.Popover.noWallet) {

  & :global(.Popover-tip) {
    fill: none;
  }
}

.networkIndicator {
  width: 12px;
  height: 12px;
  margin-right: 1rem;
  border-radius: 100%;
}

.networkIndicator.kovan {
  background-color: $moderate-violet;
  border: 1px solid $moderate-violet;;
}

.networkIndicator.main {
  background-color: $soft-cyan;
  border: 1px solid $soft-cyan;
}

.arrowDown {
  width: 10px;
  height: 6px;
  margin-left: 1rem;
  display: inherit;

  &.dark svg path {
    fill: #3c3c3c;
  }
}

.walletConnection {
  display: inline-flex;
  align-items: center;
}

.connectWallet:hover {
  .arrowDown.dark svg path {
    fill: black;
  }
}
