@import "../utils/Mixins";
@import "../utils/Variables";

$header-media-breakpoint: 800px;

:global(.paper) {
  @include media-breakpoint-down($header-media-breakpoint) {
    height: 20px !important;
    width: 20px !important;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 0.75em;

  .logo {
    width: 132px;
    max-height: 37px;
    margin: auto 1.5em auto auto;
    svg:hover :global(#bg) {
      fill-opacity: 0.35;
    }
  }
}

.section {
  display: inline-flex;

  &Navigation {
    margin-right: auto;

    @include media-breakpoint-down($header-media-breakpoint) {
      order: 3;
      width: 100%;
    }
  }

  &Status {
    @include media-breakpoint-down($header-media-breakpoint) {
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }
}

.nav, .list, .item {
  @include media-breakpoint-down($header-media-breakpoint) {
    width: 100%;
  }
}

.list {
    display: flex;
    list-style-type: none;
    padding: 0;

  @include media-breakpoint-down($header-media-breakpoint) {
      margin-top: 24px;
    }

    .item + .item {
        margin-left: -1px;
    }

    // left and right item border radius
    .item:first-child > * {
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
    }

    .item:last-child > * {
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    .item:last-child {
      margin-right: 0;
    }
}

.navElement {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 40px;

    border: 1px solid rgba($white, 0.1);
    color: $white;
    border-radius: 0;
}

.navLink {
  @extend .navElement;
  text-decoration: none;
  width: 108px;
  color: $grey-lightest;
  &:hover {
    background-color: rgba($white, 0.1);
    cursor: pointer;
  }

  @include media-breakpoint-down($header-media-breakpoint) {
    width: 100%;
  }
}
.activeNavLink {
    &,
    &:hover {
        color: white;
        border-color: $grey-lightest;
        background: initial;
    }
}

.account {
  width: 196px;
  border-radius: $border-radius;
  margin-right: 0px;

  @include media-breakpoint-down($header-media-breakpoint) {
    width: 32px;
    height: 32px;
  }

  & span {
    @include media-breakpoint-down($header-media-breakpoint) {
      display: none
    }
  }
}
.accountLoader {
  display: flex;
  margin-right: 12px;
}
.login {
  width: 100%;
  height: 100%;
}

.connectButton {
  text-transform: none;
  font-size: 16px;
}
:global(.Popover.noWallet) {
  & :global(.Popover-tip) {
    fill: $white;
  }
  & :global(.Popover-body) {
    background-color: $white;
    border-color: $white;
    border-radius: 2px;
    color: black;
    padding: 1em;
  }
}

.networkIndicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 79px;
  height: 40px;

  background: transparent;
  border-radius: $border-radius;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.4px;

  text-transform: capitalize;

  @include media-breakpoint-down($header-media-breakpoint) {
    max-width: 68px;
    font-size: 14px;
    height: 32px;
  }
}

.networkIndicator.kovan {
  color: $moderate-violet;
  border: 2px solid $moderate-violet;
  background-color: #2F2F38;
}

.networkIndicator.main{
  color: $soft-cyan;
  border: 1px solid $soft-cyan;
}
