.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  min-height: 520px;
  width: 100vw;
  margin: auto;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
  }

  a {
    color: #80D8FF;

    &:hover {
      background-color: #424250;
    }

    &:active {
      color: #60A8BB;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #3c3c46;
  }

  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 454px;
  padding: 10px;
  text-align: center;
}

.panel {
  padding: 10px
}

.headline {
  font-size: 120%;
}

.btn {
  width: 100%;
}
