.container {
  width: 100%;
  max-width: 454px;
  padding: 10px;
  text-align: center;
}

.border {
  border: 1px solid #3c3c46;
  border-radius: 4px;
}

.icon {
  padding: 0px 15px 0px 0px;
  & > div {
    vertical-align: middle;
  }
}

.info {
  color: #69F0AE;
}

.address {
  a {
    font-family: Lato, sans-serif;
    font-weight: bold;
  }

  padding: 10px;
}