@import "../Variables";
@import "../Mixins";

.table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  @include media-breakpoint-down(md) {
    // in mobile it's important that scrollable table is short enough
    // to allow user scroll the page, not only table
    max-height: calc(100vh - 70px) !important;

    th {
      position: sticky;
      top: -1px;
      background-color: $grey-dark;
    }
  }

  thead {
    @extend .trHighlighted;
  }

  th {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.43px;
  }

  td {
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 14px;
  }

  th, td {
    padding: 8px 28px 8px 0;
  }

  td > * {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  @include media-breakpoint-down(md) {
    th, td,
    th:first-child,
    td:first-child {
      padding-right: 16px;
    }

    th:last-child,
    td:last-child {
      padding-right: 24px;
    }
  }
}

// Extend full width table to be even a bit wider
// Stretches table by 1px to the left and 1px to the right
// In Panel component it covers Panel's border
.extendOnBorders {
  margin-left: -1px;
  width: calc(100% + 2px);
}

// Align text
//
@mixin textAlign($align) {
  td.#{$align},
  th.#{$align},
  .#{$align} td,
  .#{$align} th {
    text-align: $align;
  }
}

@include tableTextAlign(right);
@include tableTextAlign(center);
@include tableTextAlign(left);

.trHighlighted {
  background-color: $grey-dark;
  th, td {
    border-top: 1px solid $grey-darken-darkest;
    border-bottom: 1px solid $grey-darken-darkest;
  }
}

// Clickable row
.clickable {
  cursor: pointer;
  &:hover {
    background-color: darken($grey-dark, 2.5%);
  }
  &:active {
    background-color: lighten($grey-dark, 2.5%);
  }
}