@import "../utils/Mixins";

.tradingPairPanel {
  flex-grow: 1;
}

$historyPanelsHeight: 342px;
$offerMakePanelHeight: 474px;
$twoColumnsPanelWidth: 454px;

.priceChartPanel,
.allTradesPanel {
  width: $twoColumnsPanelWidth;
  height: $historyPanelsHeight;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}


.offerMakePanel {
  height: $offerMakePanelHeight;
  margin-right: 24px;
  flex-grow: 1;
  @include media-breakpoint-down(lg) {
    margin-right: 0;
    width: 100%;
    height: 522px;
  }
}

.orderbookPanel {
  height: $offerMakePanelHeight;
  @include media-breakpoint-down(lg) {
    width: 100%;
    height: auto;
  }
}

.myOrdersPanel {
  min-height: 230px;
  width: 100%;
}