@import "../Variables";
@import "../Mixins";

.inputBase {
  background: none;
  border: 0;
  color: $input-number-color;
  @include fontLatoBold;
  font-size: 1em;
  letter-spacing: 0.5px;
  padding-left: 1em;
  padding-right: .25em;
  text-align: right;
  width: 100%;
  min-width: 0;
}

.inputBase:disabled {
  color: $grey-light; // as in InputGroup.scss
}