@import "../Variables";
@import "../Mixins";

.muted {
  color: $grey-lightest;
}

.infoLabel {
  color: $grey-lightest;
  text-transform: capitalize;
  letter-spacing: 0.43px;
  font-size: 12px;
  font-weight: 600;
}

.buySellSpan {
  text-transform: capitalize;
}

.redSpan {
  color: $red;
}

.greenSpan {
  color: $green;
}

.currency {
  @include fontMontserratMedium;
  white-space: nowrap;

  &.highlight {
    font-weight: 600;
  }
}