@import "../../utils/Variables";
@import "../../utils/Mixins";

.ownedResourcesInfoBox {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(md){
    flex-direction: column;
  }
}

.btnGroup {
  margin-left: auto;
}

.btn {
  width: 68px;

  @include media-breakpoint-down(sm){
    width: 64px;
    font-size: 11px;
  }
}

.balanceBtn {
  align-items: center;
  display: flex;
  @include fontLatoBold;
  justify-content: center;
  letter-spacing: 0.4px;
  width: 150px;
  flex-basis: 150px;
  flex-grow: 1;

  &:disabled,
  &:disabled:hover {
    background-color: transparent;
    color: $font-color-base;
    opacity: 1;
  }

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }

  @include media-breakpoint-down(md){
    max-height:38px;
    width: 100%;

    &:first-child {
      margin-right: 0;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-left: 0;
    }
  }
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(sm) {
    font-size: 14px;

    button {
      font-size: 11px;
    }
  }
}

.confirmButton {
  font-size: 14px;
  height: 35px;
  margin-top: 2px;
  width: 100%;
}

// ---------- horizontal lines spaces
.hrMargin {
  margin-top: 18px;
  margin-bottom: 18px;
}

// ---------- input group modifiers
.inputHeader {
  flex-basis: 94px;
  flex-grow: 2;
  flex-shrink: 0;
  padding: 10px 16px;
  white-space: nowrap;

  @include media-breakpoint-down(sm){
    padding: 10px;
    flex-basis: 80px;
  }
}

.inputTail {
  display: inline-flex;
  border-left: 1px solid $grey-light;
  width: 100%;

  &:hover {
    border-color: $button-border-hover;
  }
}

.input {
  flex-basis: 180px;
  flex-grow: 4;
  flex-shrink: 1;
}

.inputCurrencyAddon {
  flex-basis: 82px;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: start;
  padding: 10px 16px;
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    flex-basis: 64px;
    padding: 10px;
  }
}

.inputPercentAddon {
  flex-basis: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px 6px;
  white-space: nowrap;
}

// errors
.errors {
  display: flex;
  align-items: start;
  justify-content: flex-end;

  color: $red;
  font-size: 11px;
  height: 22px;
  text-align: right;
}

.directSummary {
  border: 1px solid $grey-dark;
  border-radius: $border-radius;

  display: flex;
  align-items: stretch;
  justify-items: center;

  height: 63px;

  margin-bottom: 20px;
  margin-top: 18px;

  font-size: 14px;
}

.directSummaryRight,
.directSummaryLeft {
  flex-basis: 50%;
  padding: 12px;

  @include media-breakpoint-down(sm) {
    font-size: 11px;
  }
}

.directSummaryRight {
  border-left: 1px solid $grey-dark;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.directSummaryLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directSummaryHorizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// order type picker
.picker {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pickerBody {
  flex-grow: 1;
}

.pickerOrderType {
  margin: 13px 20px 13px 32px;
}

.pickerDescription {
  font-size: 14px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}
