@import "../utils/Variables";
@import "../utils/Mixins";

.panel {
  position: relative;

  max-width: 490px;
  min-height: 430px;

  margin: auto;

  padding: 1.5em;

  letter-spacing: 1.2px;

  h1, h2, h3, h4, h5, h6 {
    @include fontMontserratMedium;
    font-size: 1em;
    margin: 0 0;
  }
}

.header {
  line-height: 1.25em;

  width: 100%;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

.footer {
  margin-top: auto;
}

// Particular view ( Step 1 )
.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 64px;
  border: 1px solid $button-border-disabled;
  border-radius: .25rem;

  margin-top: 1rem;
  margin-bottom: 1.5rem;

  padding: .75rem 1rem;

  @include media-breakpoint-down(md) {
    min-height: 98px;
  }

  &.hidden {
    visibility: hidden;
  }

  &.errors {
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }


  &.finalization {
    font-size: 0.75rem;
    min-height: 2rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    padding: 0;

    @include media-breakpoint-down(md) {
      min-height: 3rem;
      padding: 6px;
    }
  }

  &.transaction {
    position: relative;
    min-height: 0;

    padding: 1rem 1.5rem;
    margin-top: 0;
    margin-bottom: .75rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
      min-height: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.assets {
  display: flex;
  justify-content: space-between;
}

%errors-base {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: map-get($inputHeight, lg);
  border: 1px solid $button-border-disabled;
  border-radius: .25rem;
  margin-top: 1rem;

  @include fontMontserratMedium;
  font-size: 12px;
  letter-spacing: 1.10px;

  @include media-breakpoint-down(md) {
    margin: 1rem 0;
    font-size: 10px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 9px;
  }

  &.hidden {
    visibility: hidden;
  }
}

.errors {
  @extend %errors-base;
  color: $errors;
}

.warnings {
  @extend %errors-base;
  color: #828287;
}

// Asset Picker


.tradingSide {
  display: inline-flex;
  flex-direction: column;
  max-width: 175px;
}


.swapIcon {
  position: relative;
  bottom: 1.5rem;
  margin: auto .5rem;

  cursor: pointer;
}

.cornerIcon {
  height: 28px;
  width: 28px;
  border: 1px solid $button-border-disabled;
  border-radius: 100%;

  &.settingsIcon {
    padding: .25rem;
  }
}

.input {
  height: 2rem;

  @include fontMontserratMedium;
  font-size: .75rem;

  @include media-breakpoint-down(md) {
    font-size: .625rem;
  }

  border: 1px solid $grey-light;
  border-radius: .125rem;

  padding: .5rem;

  text-align: center;
  letter-spacing: 1.1px;
  color: $white;

  &::placeholder {
    text-transform: uppercase;
    color: $input-number-color;
  }

}

.inputWrapper {
  position: relative;
  color: $white;
}

.inputApprox {
  position: absolute;
  left: 1em;
  top: 0.5em;
}

.button {
  width: 100%;
  &:disabled {
    color: $grey-light
  }
}
