.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input[type="checkbox"] {
    display:none;

    & + span {
      position: relative;
      display: inline-flex;
      align-items: center;
      letter-spacing: .4px;

      &:before {
        content: "";
        height: 20px;
        width: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        margin: 0 14px 0 0;
        background-color: transparent;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICAgIDxwYXRoIGZpbGw9IndoaXRlIiBkPSJNMTkgNXYxNEg1VjVoMTRtMC0ySDVjLTEuMSAwLTIgLjktMiAydjE0YzAgMS4xLjkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);;
        box-sizing: border-box;
        cursor: pointer;
      }
    }

    &:checked {
      & + span:before {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4gICAgPHBhdGggZmlsbD0id2hpdGUiICAgICAgICAgIGQ9Ik0xOSAzSDVjLTEuMTEgMC0yIC45LTIgMnYxNGMwIDEuMS44OSAyIDIgMmgxNGMxLjExIDAgMi0uOSAyLTJWNWMwLTEuMS0uODktMi0yLTJ6bS05IDE0bC01LTUgMS40MS0xLjQxTDEwIDE0LjE3bDcuNTktNy41OUwxOSA4bC05IDl6Ii8+PC9zdmc+);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}