@import "../../utils/Mixins";

.allTradesTable {
  max-height: 254px;
  @include tableColumnsWidth(152px 152px 142px);

  td, th {
    // time column
    &:last-child {
      flex-grow: 1;
      white-space: nowrap;
    }
  }

  .loadMore {
    padding-left: 24px;
  }
}

.loader {
  display: inline-block;
  width: 16px;
  min-height: 16px;
  margin-right: 4px;
  background-size: contain;
  background-image: url('../../utils/loadingIndicator/LoadingIndicatorDark.gif');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

// ------------------ animations for table -----------------------
:global(.trade-enter) {
  opacity: 0.01;
}

:global(.trade-enter-active) {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

:global(.trade-exit) {
  opacity: 1;
}

:global(.trade-exit-active) {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
