.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 50px;
}

.inline {
  display: inline-flex;
  width: 20px;
  flex-grow: 0; // reset loading's flex-grow: 1
  min-height: 20px;
  //margin-top: -4px;
  background-size: contain;
}

.light {
  background-image: url('./LoadingIndicatorLight.gif');
}
