@import './Mixins';
@import './Variables';

:global(.hide-all) {
  display: none !important;
}

:global(.hide-md) {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

:global(.hide-lg) {
  @include media-breakpoint-down(lg) {
    display: none !important;
  }
}

:global(::placeholder) {
  color: $grey-light;
}

:global(.bold) {
  font-weight: 700 !important;
}

:global(.semi-bold) {
  font-weight: 600 !important;
}

:global(.medium) {
  font-weight: 500 !important;
}
