
$body-bg: #424250;

$white: #fff; // text colors
$whitish: #f5f5f5;
$grey-lightest: #87878C; // muted text colors
$grey-lighter: #97979B;
$grey-light: #58585F;
$grey-mid: #35353E;
$grey-mid-hover: #393942;
$grey-mid-active: #3D3D46;
$grey-dark: #393942; // table header bg, input bg, order subsection bg
$grey-darkest: #2F2F38; // components bg
$grey-darken-darkest: #2B2B33; // panel border
$very-dark-greyish-blue: #263238;
$dark-greyish-blue: #555561;
$darker-greyish-blue: #676773;
$dark-gray-blue: #828287;
$lighter-dark-gray-blue: #8D8D96;
$input-number-color: #ABABAF; //
$button-border-hover: #707076;
$button-border-disabled: #3F3F47;
$yet-another-dark-grayish-blue: #6D6D74; //used in disabled done icon in token allowances view

$soft-cyan: #69F0AE;
$lime-green: #1AAD77; // main network indicator
$cyan: #55AC85; //bars in the price impact warning view
$green: #1CBA80 ; // button bg, buy color
$green-dark: #22906A; // depth chart buy dark color
$brown-reddish: #7C3D42;
$brown-reddish-highlight: #A24546;
$red: #FF6951; // sell color
$errors: #EF5350;
$red-dark: #C15849; // depth chart sell dark color
$orange: #f7a600; //

$very-pale-blue: #EEF4FF;
$very-light-blue: #80D8FF; // used for tx status in instant
$etherColor: #4f6cb1;
$makerColor: #3ab493;
$daiColor: #f7a600;
$dgxColor: #be9e57;
$moderate-violet: #B388FF;
$light-violet: #7C4DFF; // kovan network indicator
$vivid-blue: #2979FF; // used on connect button
$vivid-blue-hover: #2962FF; // used on connect button

$font-color-base: $white;

$disabledColor: $grey-light;
$disabledBorderColor: $grey-dark;

// Font weights for Montserrat
// semiBold = 600,
// medium = 500
// normal = 400
$font-main: Montserrat, sans-serif;

// Font weights for Lato
// regular = 400
// bold = 700
$font-additional: Lato, sans-serif;

$font-size-base: 16px;
$font-size-smaller: 12px;

$border-radius: 4px;


// breakpoints, mobile etc
$grid-breakpoints: (
  // below 280px it's really narrow screen and it might look bad or need scrolls etc
  sm: 360px,
  md: 480px, // below is mobile
  md-lg: 768px,
  lg: 992px, // below is table; up is desktop with 2-columns layout
) !default;

$grid-breakpoints-enabled: true;
