@import "../../utils/Mixins";

.container {
  min-height: 230px;
}

.orderTypeBtn {
  width: 86px;
}

@include tableTextAlign(right);

.myTradesTable {
  max-height: 400px;

  td, th {
    flex-grow: 1;
  }
}

.myOpenTradesTable {
  @include tableColumnsWidth(100px 165px 165px 165px 165px 165px);
  @include tableColumnsWidth(50px 90px 90px 90px 60px 80px, lg);

  // status with icon
  td:last-child {
    white-space: nowrap;
  }
}

.myCloseTradesTable {
  @include tableColumnsWidth(100px 165px 165px 165px 165px);
  @include tableColumnsWidth(60px 104px 104px 104px 90px, lg);
}

.statusText {
  display: inline-block;
  margin-right: 1em;
  text-transform: uppercase;

}

.statusProgress {
  display: inline-block;
  position: relative;
  top: 2px;
}