@import "../utils/Mixins";

@include modal();
@include checklistBorderBox();

.checklistLine {
  @include media-breakpoint-down(md) {
    font-size: 14px;
    flex-direction: column;
  }
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(md) {
    font-size:14px;
  }
}

.infoRowMargin {
  margin-top: 12px;
  margin-bottom: 12px;
}

.hrMargin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.summary {
  margin-top: 20px;
  margin-bottom: 20px;
}

// warning panel - (i) with text about unwrap/wrap
.warning {
  display: flex;
  align-items: stretch;

  @include media-breakpoint-down(md) {
    min-height: 120px;
  }
}

.warningIcon {
  flex-basis: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.warningText {
  font-size: 14px;

  @include media-breakpoint-down(md){
    display: inline-flex;
    align-items: center;
  }
}

// footer with buttons

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ---------- input group modifiers
.inputHeader {
  flex-basis: 94px;
  flex-grow: 2;
  flex-shrink: 0;
  padding: 10px 16px;

  @include media-breakpoint-down(sm) {
    flex-basis: 72px;
    padding: 10px 8px;
    font-size: 12px;
  }
}

.inputCurrencyAddon {
  flex-basis: 82px;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: start;
  padding: 10px 16px;
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    flex-basis: 42px;
    padding: 10px 8px;
    font-size: 12px;
    justify-content: center;
  }
}

.panel {
  width: 454px;
  max-height: 528px;

  &Body {
    height: 390px;

    @include media-breakpoint-down(sm){
      height: 340px;
    }
  }
}
