@import "../utils/Mixins";

.taxExporterDescription {
  flex-grow: 1;
  font-size: 14px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;

  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }

  span {
    color: #fff;
    display: block;
    font-size: 15px;
    margin-bottom: 8px;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  a {
    color: #6fc2e9;
  }
}

.taxExporterPanelBody {
  display: flex;
  width: 100%;
  border-top: 1px solid #393942;
}

.taxExporterButton {
  margin-top: 8px;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    align-self: center;
  }
}

.progressIcon {
  position: relative;
  width: 14px;
  height: 14px;
  top: 2px;
  margin: 0 25px;
}