@import "../../utils/Variables";
@import "../../utils/Mixins";

.details {
  margin-top: 0;
  padding: 1rem 1.5rem;
  font-size: .75rem;

  @include media-breakpoint-down(md) {
    position: relative;
    padding-bottom: 3rem;
  }
}

.summary {
  line-height: 1rem;
  color: $grey-lighter;
  font-weight: 400;
  letter-spacing: .8px;
  word-break: break-word;

  @include media-breakpoint-down(md) {
    font-size: .625rem;
  }
}

.highlight {
  color: white;
  font-weight: 500;
}