.details {
  margin-top: 0;
  padding: 1rem;
  font-size: .75rem;
}

.summary {
  line-height: 1rem;
  color: #97979B;
  font-weight: 400;
  letter-spacing: .8px;
}

.highlight {
  color: white;
  font-weight: 500;
}