@import "../../utils/Mixins";
@import "../../utils/Variables";

.entry {
  display: flex;
  width: 100%;
  max-width: 12rem;
  justify-content: space-between;
  align-items: center;

  &.reversed {
    .label {
      color: rgba(255, 255, 255, 0.90)
    }

    .value {
      color: #828287;
    }

    .infoIcon {
      color: rgba(255, 255, 255, 0.90);
      border-color: rgba(255, 255, 255, 0.90);
    }
  }
}

.label {
  @include fontMontserratMedium;
  font-size: 12px;
  color: #828287;
  letter-spacing: 1.1px;
}

.value {
  @include fontMontserratSemibold;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.90);
  letter-spacing: 1px;
  text-align: right;
}

.infoIcon {
  width: 13px;
  height: 13px;
  font-size: 9px;
  margin-right: auto;
}