@import "../../utils/Mixins";

.txStatusRow {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 0.75rem;
  margin-bottom: 1rem;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }

  .label {
    min-width: 9rem;
    font-size: 0.75rem;
    letter-spacing: 0.7px;
  }

  .status {
    margin-left: auto;
    letter-spacing: .5px;

    @include media-breakpoint-down(md) {
      display: flex;
      margin: 1rem auto;
      position: absolute;
      bottom: 0;
    }
  }
}