.client {
  background: rgba(255,255,255,0.98);
  border-radius: 4px;
  padding: 1em;
  max-width: 208px;
  text-align: center;
}

a.client {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 1px solid black;
  margin: 0em 0.7em 0.7em 0.7em;
}
