@import "../utils/Variables";

.main {
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 10;
  }
  
  .block {
    position: relative;
    padding: 16px 24px;
    margin: 10px 18px 24px 18px;
    background-color: $grey-darkest;
    border: 1px solid $grey-darken-darkest;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px rgba(black, 0.20);
    font-size: 14px;
    width: 350px;
}

.title {
  letter-spacing: 0.36px;
  margin-bottom: 4px;
  margin-top: 5px;
}

.close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
    &:hover {
        background-color: #eee;
    }
}

.icon {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 7px;
}

.icon-inner {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50px;
  padding-left: 1px;
}

.description {
  color: $grey-light;
}

.cross {
  border-radius: 100%;
  background-color: $grey-dark;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;

  &:hover,&:focus {
    opacity: 0.8;
  }
}

:global(.transaction-enter) {
  opacity: 0.01;
}

:global(.transaction-enter.transaction-enter-active) {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

:global(.transaction-leave) {
  opacity: 1;
}

:global(.transaction-leave.transaction-leave-active) {
  opacity: 0.01;
  transition: opacity 600ms ease-in;
}
