@import "../utils/Variables";

.main {
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 10;
}

.block {
    position: relative;
    padding: 18px 24px;
    margin: 10px 18px 24px 18px;
    background-color: $grey-darkest;
    border: 1px solid $grey-darken-darkest;
    box-shadow: 0 0 4px 1px rgba(black, 0.20);
    font-size: 14px;
    width: 350px;
}

.title {
  font-weight: 600;
  font-size: $font-size-base;
  letter-spacing: 0.36px;
  margin-bottom: 0.75em;
}

.close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
    &:hover {
        background-color: #eee;
    }
}

.icon {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 7px;
}

.icon-inner {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50px;
}

:global(.transaction-enter) {
  opacity: 0.01;
}

:global(.transaction-enter.transaction-enter-active) {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

:global(.transaction-leave) {
  opacity: 1;
}

:global(.transaction-leave.transaction-leave-active) {
  opacity: 0.01;
  transition: opacity 600ms ease-in;
}
